In [ ]:
print("Hello world.")

- String 
- Integer 
- Float 
- Boolean

- ## Srting

In [8]:
a  = "henry" #  01234
print(type(a))

<class 'str'>

In [9]:
print(a[1])

e

In [10]:
a[1] = "e"
print(a)

TypeError: 'str' object does not support item assignment

In [11]:
print(a[1:4]) #  start: end: step

enr

In [13]:
# -1, -2 -3
print(a[-1])

y

In [14]:
print(a[-2])

r

In [15]:
print(a[-4:-1]) # henry

enr

In [16]:
print(a[::-1])

yrneh

In [18]:
a = "Edward"
print(a.startswith("Ed"))

True

In [19]:
print(a.endswith("d"))

True

In [20]:
a.lower()

'edward'

In [21]:
a.upper()

'EDWARD'

In [23]:
a = "edward benedict"
a.title()

'Edward Benedict'

In [24]:
a.capitalize()

'Edward benedict'

- ## Integer

In [25]:
a = 5
type(a)

int

In [26]:
 5 + 3

8

In [27]:
5 ** 2

25

In [28]:
5 ** 0.5

2.23606797749979

In [29]:
5 /2

2.5

In [30]:
a = 6
b = a / 2
b

3.0

In [32]:
a = 7
b = a // 2
b

3

In [33]:
a = 7
b = a % 2
b

1

- ## Boolean

In [ ]:
True
False

In [ ]:
and or not

In [ ]:
True or False and not True # True or False and False # True or False

In [ ]:
# [] {} 0 None

In [34]:
[] or 1 and 0 and [1] or not 0

True

In [ ]:
[] or 1 and 0 and [1] or True

In [ ]:
[] or False and [1] or True

In [36]:
[] or False or True

True

In [41]:
a = "henryyyyyy"
b = a.rstrip("y")
b

'henr'

In [43]:
my_list = [1, 2,3 ,4]
del my_list[1:3]
my_list

[1, 4]

- ## List
- ## Dictionary
- ## Tuple
- ## Set

- ## List

In [45]:
a = list()
b= []
print(type(a))
type(b)

<class 'list'>

list

In [49]:
a = ['ali', 2, [1,2], 7]
a

['ali', 2, [1, 2], 7]

In [50]:
a[1]

2

In [51]:
a[1:3]

[2, [1, 2]]

In [52]:
a[-1]

7

In [53]:
a[2][1]

2

In [56]:
a.append(4)
a

['ali', 2, [1, 2], 7, 4, 4, 4]

In [57]:
a[2] = 3
a

['ali', 2, 3, 7, 4, 4, 4]

In [59]:
a.insert(3, 4)
a

['ali', 2, 3, 4, 4, 7, 4, 4, 4]

In [60]:
a.pop()
a

['ali', 2, 3, 4, 4, 7, 4, 4]

In [61]:
a.pop(0)
a

[2, 3, 4, 4, 7, 4, 4]

In [62]:
a.remove(4)
a

[2, 3, 4, 7, 4, 4]

In [63]:
del a[1:4]
a

[2, 4, 4]

In [64]:
a = [1, 3, 5, 2, 4]
a.sort()

In [65]:
a

[1, 2, 3, 4, 5]

In [66]:
a = [1, 3, 5, 2, 4]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

- ## Tupples

In [67]:
a = tuple()
b = ()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [74]:
a = ("1",) 
print(type(a))

<class 'tuple'>

In [75]:
a = (1, 2, 3, 4)
a[1]

2

In [76]:
a[1] = 5

TypeError: 'tuple' object does not support item assignment

In [77]:
a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

- ## Dictionary

In [80]:
my_dict = {}
my_dict = dict()

my_dict = {"sıfır": 0, "bir": 1, "iki":2}
my_dict

{'sıfır': 0, 'bir': 1, 'iki': 2}

In [82]:
my_dict["sıfır"]

0

In [91]:
my_dict.get("dört")

In [92]:
my_dict["beş"] = 5
my_dict

{'sıfır': 0, 'bir': 1, 'iki': 2, 'beş': 5}

In [93]:
my_dict.update({"altı": 6})
my_dict

{'sıfır': 0, 'bir': 1, 'iki': 2, 'beş': 5, 'altı': 6}

In [95]:
my_dict = {"sayılar":{"sıfır": 0, "bir": 1, "iki":2}, "renkler":{"m": "mavi", "y":"yeşil"}}
my_dict

{'sayılar': {'sıfır': 0, 'bir': 1, 'iki': 2},
 'renkler': {'m': 'mavi', 'y': 'yeşil'}}

In [97]:
print(my_dict['renkler']['m'])

mavi

- ## Set

In [98]:
a = set()
b = [1, 1, 2, 3, 4, 3, 5, 6, 6]
c  =set(b)
c

{1, 2, 3, 4, 5, 6}

In [99]:
c.remove(7)

KeyError: 7

In [103]:
c.discard(6)
c

{1, 2, 3, 4, 5}

In [104]:
a = [1, 2, 3, 4]
a.index(1)

0

In [109]:
a = "henry"
a.find("z")

-1

In [110]:
a.index("z")

ValueError: substring not found

In [111]:
a = {1, 2, 3, 10, 32, 100}
b = {1, 2, 32}
a.difference(b)

{3, 10, 100}

In [112]:
a.intersection(b)

{1, 2, 32}

In [113]:
a.union(b)

{1, 2, 3, 10, 32, 100}

- ## Conditional Statemaents

- # Comparison

In [115]:
# == != < > <= >=
2 != 3

True

- # if

In [116]:
if True:
    print("Mathew")

Mathew

In [118]:
a = 1
if a:
    print("Mathew")

Mathew

In [119]:
a = []
if a:
    print("Mathew")
else:
    print("ok")

ok

In [123]:
işlem = int(input("İşlem seçiniz:"))

if işlem == 1:
    print("İşlem 1 seçildi.")
elif işlem == 2:
    print("İşlem 2 seçildi.")
elif işlem == 3:
    print("İşlem 3 seçildi.")
else:
    print("Lütfen 1 2 veya 3 ü tuşlatyın")

Lütfen 1 2 veya 3 ü tuşlatyın

- ## For and while Loop

- # While

In [125]:
num = 0

while num < 5:
    print(num)
    num += 1
print("Num is bigger or equal then 5")

0
1
2
3
4
Num is bigger or equal then 5

- # For loop

In [137]:
a = [1, 2, 3] 
b =range(3)
print(b)

for i in b:
    print(i)

range(0, 3)
0
1
2

In [142]:
for i in range(1,10): # 1
    print("*" * 20)
    for j in range (1, 10): #  1 2 3 4 5 6 7 8 9
        print(i,"x",j,"=", i*j)

********************
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
********************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
********************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
********************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
********************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
********************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
********************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
********************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
********************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [143]:
str,row="-- multiplikasjonstabellen --",list()
print(f"{str:^77}\n")
for _ in range(21): row.append([])
for j in range(1,11):
    for i in range(1,11):
        if j<6: row[i-1].append(f"{j:^2} x {i:^2} = {i*j:^3}  ")
        else: row[i+10].append(f"{j:^2} x {i:^2} = {i*j:^3}  ")
for line in row: 
    print(*line)

                        -- multiplikasjonstabellen --

1  x 1  =  1    2  x 1  =  2    3  x 1  =  3    4  x 1  =  4    5  x 1  =  5
1  x 2  =  2    2  x 2  =  4    3  x 2  =  6    4  x 2  =  8    5  x 2  = 10
1  x 3  =  3    2  x 3  =  6    3  x 3  =  9    4  x 3  = 12    5  x 3  = 15
1  x 4  =  4    2  x 4  =  8    3  x 4  = 12    4  x 4  = 16    5  x 4  = 20
1  x 5  =  5    2  x 5  = 10    3  x 5  = 15    4  x 5  = 20    5  x 5  = 25
1  x 6  =  6    2  x 6  = 12    3  x 6  = 18    4  x 6  = 24    5  x 6  = 30
1  x 7  =  7    2  x 7  = 14    3  x 7  = 21    4  x 7  = 28    5  x 7  = 35
1  x 8  =  8    2  x 8  = 16    3  x 8  = 24    4  x 8  = 32    5  x 8  = 40
1  x 9  =  9    2  x 9  = 18    3  x 9  = 27    4  x 9  = 36    5  x 9  = 45
1  x 10 = 10    2  x 10 = 20    3  x 10 = 30    4  x 10 = 40    5  x 10 = 50

6  x 1  =  6    7  x 1  =  7    8  x 1  =  8    9  x 1  =  9    10 x 1  = 10
6  x 2  = 12    7  x 2  = 14    8  x 2  = 16    9  x 2  = 18    10 x 2  = 20
6  x 3  = 18    7  x 3  = 21    8  x 3  = 24    9  x 3  = 27    10 x 3  = 30
6  x 4  = 24    7  x 4  = 28    8  x 4  = 32    9  x 4  = 36    10 x 4  = 40
6  x 5  = 30    7  x 5  = 35    8  x 5  = 40    9  x 5  = 45    10 x 5  = 50
6  x 6  = 36    7  x 6  = 42    8  x 6  = 48    9  x 6  = 54    10 x 6  = 60
6  x 7  = 42    7  x 7  = 49    8  x 7  = 56    9  x 7  = 63    10 x 7  = 70
6  x 8  = 48    7  x 8  = 56    8  x 8  = 64    9  x 8  = 72    10 x 8  = 80
6  x 9  = 54    7  x 9  = 63    8  x 9  = 72    9  x 9  = 81    10 x 9  = 90
6  x 10 = 60    7  x 10 = 70    8  x 10 = 80    9  x 10 = 90    10 x 10 = 100

In [ ]:
# a,b,c sayısı olsun bunalrın enbüyüğünü bulan program yazalım. Condition kullanarak

In [144]:
a = int(input("a:"))
b = int(input("b:"))
c = int(input("c:"))

if (a >= b) and (a >= c):
    print("a is biggest number")
elif (b >= a) and (b >= c):
    print("b is biggest number")
else:
    print("c is biggest number")

a is biggest number

In [150]:
n = int(input("n:"))

a, b = 0, 1
count = 0

if n <= 0:
    print("Please enter a positive num")
elif n == 1:
    print(b)
else:
    while count < n:
        print(a)
        c = a + b
        a = b
        b = c
        count += 1

0
1
1
2

In [ ]:
fib_number= int(input(“Enter a number : “))
a = 1
b = 1
fib_list = [a, b]
while a + b <= fib_number:
    a, b = b, a + b
    fib_list.append(b)
print(fib_list)

- ## Funtion

In [152]:
def my_funtion():
    print("Hello world.")
type(my_funtion())

Hello world.

NoneType

In [154]:
def my_funtion():
    return "Hello world."
type(my_funtion())

str

In [156]:
def multiplyer(a, b):
    return a * b
a = multiplyer(2, 3)
type(a)

int

In [ ]:
# *args, **kwargs

In [163]:
def my_func(**c):
    print(c)
    # return a * b
my_func(a = 1, b=2)

{'a': 1, 'b': 2}

In [167]:
def is_palindrom(string):
    return string[::-1].upper() == string.upper()

def palindrom(sentences):
    string =""
    for chr in sentences:
        if chr.isalnum():
            string += chr
    print(string)
    return is_palindrom(string)

sentences = input("Please Enter a word or sentences")
if palindrom(sentences):
    print("{} is a palindrom".format(sentences))
else:
    print("{} is not a palindrom".format(sentences))

edaa
edaa is not a palindrom